body{
   background: url("https://besthqwallpapers.com/Uploads/7-12-2017/32353/desert-4k-sunset-art-bright-sun.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   padding: 0;
   margin: 0;
}
.wrapper{
   margin: 50px auto 0;
   padding: 0;
   width: 350px;
   height: 530px;
}
.container{
   background: #1F1F21;
   border-radius: 5px;
   box-shadow: 0 10px 25px rgba(0,0,0,0.8);
   width: inherit;   
   height: 100%;
   padding: 0 0 20px;
}

.block-result {
   position: relative;
   background: #1F1F21;
   box-shadow: 0 5px 10px rgba(0,0,0,0.5);
   margin-bottom: 20px;
   border-radius: 5px 5px 0 0;
   width: 100%;
   height: 105px;
   padding-top: 15px;
   transition: 0.4s;

   &__output{
      display: block;
      margin: 0 auto;
      box-sizing: border-box;
      width: 90%;
      height: 30px;
      padding: 0 10px;
      border: none;
      text-align: right;
      background: none;   
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      color: #969696;
      outline: none;
   }
   &__input{
      display: block;
      margin: 0 auto;
      box-sizing: border-box;
      width: 90%;
      height: 50px;
      padding: 0 10px;
      border: none;
      text-align: right;
      background: none;   
      font-family: 'Montserrat', sans-serif;
      font-size: 35px;
      color: #fff;
      outline: none;
   }
   &__btn-open{
      position: absolute;
      bottom: 4px;
      left: 162px;
      background: none;
      outline: none;
      border: none;
      color: #F88F13;
      font-size: 20px;
      padding: 0;
      width:  25px;
      height: 18px;
      cursor: pointer;
      transition: 0.2s;
   }
   &__btn-open-reverse{
      transform: rotate(180deg);
   }
   &__btn-open:hover{
      color: #bc6a05;
      transition: 0.2s;
   }
}
.block-result-full{
   height: 534.5px;
   border-radius: 5px;
   transition: 0.4s;
}

/* ALL BUTTONS */
.btn {
   border-radius: 35px;
   outline: none;
   border: none;
   background: #f0f0f0;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 65px;
   font-family: 'Montserrat', sans-serif; 
   font-size: 28px;
   color: #262728;
   cursor: pointer;
   transition: 0.15s;
}
.btn:hover{
   background: #b4b4b4;
   transition: 0.2s;
}
.btn:active{
   background: #8b8b8b;
   transition: 0.15s;

}
.btn-func {
   background: #a3a3a3;
   font-size: 27px;
}
.btn-func:hover{
   background: #888888;
   transition: 0.15s;
}
.btn-func:active{
   background: #6b6b6b;
   transition: 0.15s;
}


/* NUMBERS */
.numbers {
   height: 390px;
   width: 350px;
   user-select: none;
   display: grid;
   gap: 10px; 
   grid-template-columns: 70px 70px 70px 70px;  
   grid-template-rows: 70px 70px 70px 70px 70px;
   align-items: stretch;
   justify-content: center;
   z-index: -9999;

		&__btn1 {
         grid-column: 1/2;
         grid-row: 4/5;
		}

		&__btn2 {
         grid-column: 2/3;
         grid-row: 4/5;
		}

		&__btn3 {
         grid-column: 3/4;
         grid-row: 4/5;
		}

		&__btn4 { 
         grid-column: 1/2;
         grid-row: 3/4;
		}

		&__btn5 {
         grid-column: 2/3;
         grid-row: 3/4;
		}

		&__btn6 {
         grid-column: 3/4;
         grid-row: 3/4;
		}

		&__btn7 {
         grid-column: 1/2;
         grid-row: 2/3;
		}

		&__btn8 {
         grid-column: 2/3;
         grid-row: 2/3;
		}

		&__btn9 {
         grid-column: 3/4;
         grid-row: 2/3;
		}

		&__btn0 {
         grid-column: 2/3;
         grid-row: 5/6;
		}

		&__btn-cooma {
         grid-column: 1/2;
         grid-row: 5/6;
		}

		&__btn-backspace {
         grid-column: 1/3;
         grid-row: 1/2;
         line-height: 76px;
		}

		&__btn-reset {
         grid-column: 3/4;
         grid-row: 1/2;
         line-height: 70px;
		}

		&__btn-divide {
         grid-column: 4/5;
         grid-row: 1/2;
		}

		&__btn-multiply {
         grid-column: 4/5;
         grid-row: 2/3;
		}

		&__btn-minus {
         grid-column: 4/5;
         grid-row: 3/4;
		}

		&__btn-plus {
         grid-column: 4/5;
         grid-row: 4/5;
		}

		&__btn-equal {
         grid-column: 3/5;
         grid-row: 5/6;
         background: #F88F13;
      }
      &__btn-equal:hover{
         background: #bc6a05;
         transition: 0.2s;
      }
      &__btn-equal:active{
         background: #874b03;
         transition: 0.2s;
      }
}
